body {
    background-color: hsl(212, 45%, 89%)
    

}

.picture{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.first_text{
    position: absolute;
    top: 17px;
    left: 10px;
}

.second_text{
    position: absolute;
    bottom: 17px;
    left: 10px;

}

/* .white-image{
    border-radius: 100px;
    position: center;
} */