body {
    background-color: hsl(212, 45%, 89%)
}

/* @media only screen and (max-device-width: 1440px) {
    
      
} */

/* .picture{
    top: 0;
    left: 0;    
    
} */

.first_text{
    position: absolute;
    font-family: 'Outfit', sans-serif;
    font-size: 35px;
    font-weight: 400, 700;
    margin-left: 43%;
}

.second_text{
    position: absolute;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    /* font-weight: 400, 700; */
    margin-left: 43%;
    margin-top: 13%; 
    color: hsl(213, 23%, 67%);

}

.second_text_cont{
    position: absolute;
    font-family: 'Outfit', sans-serif;
    font-size: 35px;
    font-weight: 400, 700;
    margin-left: 43%;
    margin-top: 17%; 
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: hsl(213, 23%, 67%);

}

.white-image{
    position: absolute;
    border-radius: 25px;
    position: center;
    margin-left: 40%;
    margin-right: auto;
    margin-top: 10%;
    width: 500px;
    height: 700px;
}

.qrcode-image{
    position: relative;
    border-radius: 20px;
    width: 458px;
    height: 400px;
    margin-left: 42%;
    margin-top: 12%;    
}